################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tail/obj/Release
/Tail/obj/Debug
/Tail/bin/Debug
/Tail/bin/Release/Tail.vshost.exe.manifest
/Tail/bin/Release/Tail.vshost.exe.config
/Tail/bin/Release/Tail.vshost.exe
/Tail/bin/Release/Tail.pdb
/Tail/bin/Release/Tail.exe.config
*.suo
/Tail/bin/Release/demo.log
/.vs/config/applicationhost.config
/Tail/Tail.csproj.user
/packages
/Tail/bin/Release/ScintillaNET.xml
/Tail/bin/Release/ScintillaNET.dll
/Tail.UnitTest/obj
/Tail.UnitTest/bin/Debug
/Tail.UnitTest/bin/Release
